.terms_and_condtions_text{
    padding: 50px 0px;
}
.complete_terms{
    font-family: 'Aeonik';
    font-weight: 500;
    font-size: 16px;
    h6{
        color:#943622;
    }
    p{
        color: #424242;
    }
}